:root {
    --primary-color: #FF5757;
    --secondary-color: #F9F9F9;
    --dark-900: #2D3748;
    --dark-500: #718096;
    --bg-white: #FFFFFF;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-900);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--secondary-color)
}

button {
    cursor: pointer;
}

.icon-btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
} 

a {
    text-decoration: none;
}